{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "overrides": [
    {
      "files": [
        "src/pages/background/**/*.ts",
        "src/pages/popup/**/*.ts",
        "src/pages/options/**/*.ts",
        "src/pages/content/**/*.ts"
      ],
      "env": {
        "browser": true,
        "es6": true,
        "node": false,
        "webextensions": true
      }
    }
  ],
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint"],
  "ignorePatterns": ["watch.js", "dist/**"]
}
